version: '3.3'
services:
  plex:
    container_name: plex
    image: plexinc/pms-docker
    restart: unless-stopped
    environment:
      - TZ
      - PLEX_CLAIM
      - PLEX_CONFIG=./volume/config
      - PLEX_TRANSCODE=./volume/transcode
      - PLEX_DATA=./volume/data
    network_mode: host
    volumes:
      - ${PLEX_CONFIG}:/config
      - ${PLEX_TRANSCODE}:/transcode
      - ${PLEX_DATA}/data:/data
