version: '2'
services:
  plex:
    container_name: plex
    image: plexinc/pms-docker
    restart: unless-stopped
    environment:
      - TZ=<AMERICA/PHOENIX>
      - PLEX_CLAIM=<CLAIM-IHVX41QQQWKZXEYQDRXR>
    network_mode: host
    volumes:
      - <%LOCALAPPDATA%\PLEX MEDIA SERVER\>:/config
      - <%LOCALAPPDATA%\PLEX MEDIA SERVER\CACHE\TRANSCODE\SYNC\>:/transcode
      - <C:\USERS\APPDATA\LOCAL>:/data
