version: '3.6'
services:
  plex:
    container_name: plex
    image: plexinc/pms-docker
    restart: unless-stopped
    env_file:
      - ./.env
    environment:
      - TZ=${TIMEZONE}
      - PLEX_CLAIM=${CLAIM_TOKEN}
    network_mode: host
    volumes:
      - <path/to/plex/database>:/config
      - <path/to/transcode/temp>:/transcode
      - <path/to/media>:/data
